* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    height: 400vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

 ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 7px;
}

#main1 {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-rows: 15% 100%;
}

nav {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 15%;
    position: fixed;
    background-color: black;
}

#logohold {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.logolinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.xa {
    font-size: 2vw;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.817);
    transition: all 0.5s;
}

.xa:hover {
    color: white;
    cursor: pointer;
}

.hero {
    margin-top: 17vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 85vh;
}

.herocont {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.herotext {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.hgod {
    color: white;
    font-size: 5vw;
    font-family: great vibes, cursive;
    text-align: center;
}

.hpes {
    margin-left: 10px;
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2vw;
}

.sp {
    color: blue;
}

.callto {
    margin: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.call {
    width: 20vw;
    height: 10vh;
    background-color: rgb(0, 0, 255);
    color: white;
    border: none;
    border-radius: 5vh;
    font-size: 2vw;
    transition: 0.5s;
}

.call:hover {
    color: blue;
    background-color: transparent;
    border: 2px solid white;
}

.myn {
    object-fit: contain;
    width: auto;
    height: 30%;
}

#main2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    width: 90%;
    height: 90%;
    background-color: rgb(2, 2, 33);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skill {
    background-color: rgb(5, 5, 56);
    margin: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20% 80%;
}

.skimg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8rem;
}

.sktxt {
    display: grid;
    grid-template-rows: 30% 70%;
    justify-content: center;
    align-items: center;
}

.sktitl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sktitwr {
    color: white;
    font-size: calc(2.5rem - 18px);
}

.skdesc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desw {
    color: rgb(207, 200, 200);
    font-size: 1.2rem;
    text-align: center;
    text-indent: 7px;
}

.back {
    position: absolute;
    z-index: -100;
    pointer-events: none;
}

#main3 {
    height: 100vh;
    width: 100vw;
    background-image: url(rocket.jfif);
    background-size: cover;
    background-position: center;
}

#main4 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}