* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

nav {
    position: fixed;
    align-self: center;
    left: 10px;
    display: grid;
    height: 90%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    border-radius: 15px;
}

.navit {
    display: grid;
    align-items: center;
    justify-content: center;
}