* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    height: 400vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

 ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 7px;
}

#main1 {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-rows: 15% 85%;
}

nav {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 15%;
    position: fixed;
    background-color: black;
}

#logohold {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.logolinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.xa {
    font-size: 2vw;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.817);
    transition: all 0.5s;
}

.xa:hover {
    color: white;
    cursor: pointer;
}

.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 100vh;
}

.herocont {
    padding-top: 15%;
    display: grid;
    grid-template-rows: 1fr;
}

.herotext {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.hgod {
    color: white;
    font-size: 5vw;
    font-family: great vibes, cursive;
    text-align: center;
}

.hpes {
    margin-left: 10px;
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2vw;
}

.sp {
    color: blue;
}

.callto {
    margin: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.call {
    width: 20vw;
    height: 10vh;
    background-color: rgb(0, 0, 255);
    color: white;
    border: none;
    border-radius: 5vh;
    font-size: 2vw;
    transition: 0.5s;
}

.call:hover {
    color: blue;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}

.heroimg {
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.myn {
    max-width: 80%;
    height: auto;
    max-height: 95%;
}

#main2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    width: 90%;
    height: 90%;
    background-color: rgb(2, 2, 33);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skill {
    background-color: rgb(5, 5, 56);
    margin: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20% 80%;
}

.skimg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8rem;
}

.sktxt {
    display: grid;
    grid-template-rows: 30% 70%;
    justify-content: center;
    align-items: center;
}

.sktitl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sktitwr {
    color: white;
    font-size: calc(2.5rem - 18px);
}

.skdesc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desw {
    color: rgb(207, 200, 200);
    font-size: 1.2rem;
    text-align: center;
    text-indent: 7px;
}

.back {
    position: absolute;
    z-index: -100;
    pointer-events: none;
}

#main3 {
    height: 100vh;
    width: 100vw;
    background-image: url(rocket.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 90%;
    height: 90%;
    background-color: transparent;
    border-radius: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contlinks {
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: rgb(0, 0, 32);
}

.contphra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phrase {
    color: white;
    font-size: 1.5rem;
}

.contlinkits {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.contlinkits>a {
    color: rgb(227, 221, 221);
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.5s;
}

.contlinkits>a :hover {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}

.form {
    display: grid;
    grid-template-rows: 20% 50%;
    background-color: rgb(0, 0, 0);
}

.akiryo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.akwo {
    font-size: 1.5rem;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    margin: 6px;
    width: 70%;
    height: 20%;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

#email {
    margin: 6px;
    width: 70%;
    height: 20%;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

#tel {
    color: white;
    margin: 6px;
    width: 70%;
    height: 20%;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
}

#message {
    color: white;
    margin: 10px;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    resize: none;
}

#subbut {
    margin-top: 30px;
    width: 60%;
    height: 40%;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s;
}

#name::placeholder,
#email::placeholder,
#tel::placeholder,
#message::placeholder {
    color: rgb(222, 212, 212);
}

#subbut:hover {
    border: 2px solid blue;
    background-color: transparent;
    cursor: pointer;
}

#main4 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-content: center;
}

.morecont {
    display: grid;
    grid-template-rows: 80% 20%;
    justify-content: center;
    align-items: center;
}

.bullsh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thebullsh {
    color: white;
    font-size: 1.5rem;
}

.moreconta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mc {
    margin: 5%;
    width: 15rem;
    height: 4rem;
    background-color: blue;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    transition: all 0.4s;
    font-size: 1.5rem;
}

.mc>a {
    color: white;
    text-decoration: none;
}

.mc:hover {
    background-color: transparent;
    border: 2px solid blue;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    color: rgb(255, 246, 246);
    font-size: 1.4rem;
}